.article-style img {
    border-radius: 5px;
}

.article-banner {
    border-radius: 3px;
}

.featured-image-wrapper {
  position: relative;
  padding-left: 0; /* Override container padding. */
  padding-right: 0; /* Override container padding. */
}


.featured-image {
    object-fit: cover;
}


