<div class="article-container">

    <h2 id="ayuda-a-seguir-manteniendo-el-blog-"><strong>¡Ayuda a seguir manteniendo el blog!</strong> :</h2>
       <ul>
       <li>☕️
       <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=jcarreja%40yahoo.es&amp;item_name=mantener&#43;la&#43;web&#43;&amp;currency_code=EUR&amp;source=url" target="_blank" rel="noopener"><strong>Dona un café</strong></a></li>
       <li>🍺
       <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=jcarreja%40yahoo.es&amp;item_name=mantener&#43;la&#43;web&#43;&amp;currency_code=EUR&amp;source=url" target="_blank" rel="noopener"><strong>Invitamé a una cerveza</strong></a></li>
       <!-- <li>💵
       <a href="https://www.patreon.com/cushen" target="_blank" rel="noopener">Se un <strong>Patreon</strong></a></li> -->
       </ul>
       <!-- ## **PayPal** -->
       <!--
       <figure >
         <a data-fancybox="" href="/img/paypal-juan.png" >
         <img src="/img/paypal-juan.png" alt=""  >
       </a>
       </figure>
        -->
       <!-- ## **¡Dona criptosmonedas!** -->

    <div class="container-fluid">
         <h3 id="si-quieres-puedes-donar-criptosmonedas--están-los-códigos-qr-a-tu-disposición"><strong>Si quieres puedes donar criptosmonedas.  Están los códigos QR a tu disposición.</strong></h3>
        <div class="row">
            <div style="font-size: 1rem; color: black">
                <div class="row">
                    <div class="container-fluid">
                        <h3 id="i-classfab-fa-bitcoini-bitcoin"><i class="fab fa-bitcoin"></i> <strong>Bitcoin</strong></h3>
                            <!-- <p>3H33TvCji3cwrB2jtxnKEH8axhQvGUrrHg</p> -->
                                <figure >
                                  <a data-fancybox="" href="https://jcarreja.gitlab.io/blog-galicia/img/bitcoin-juan.png" >
                                  <img src="https://jcarreja.gitlab.io/blog-galicia/img/bitcoin-juan.png" alt=""  >
                                </a>
                            </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h3 id="i-classfab-fa-bitcoini-etherum"><i class="fab fa-bitcoin"></i> <strong>Etherum</strong></h3>
                            <!-- <p>0x1c483Db499cDb42DbCd4c472639e442C56bf4A03</p> -->
                                <figure >
                                  <a data-fancybox="" href="https://jcarreja.gitlab.io/blog-galicia/img/etherum-juan.png" >
                                  <img src="https://jcarreja.gitlab.io/blog-galicia/img/etherum-juan.png" alt=""  >
                                </a>
                        </figure>
                </div>
            </div>

        <div class="col-lg-12">
            <h2 id="bat"><strong>BAT</strong></h2>
            <p>Si usas el Navegador Brave puedes donar en cualquiera de mis dominios de internet de modo normal.</p>
        </div>
    </div>
</div>


